<div class="row">
  <div class="col-6 mx-auto">
    <div class="jumbotron my-2">
      <h1>Open Budget</h1>
      <p class="lead">Open an existing budget database here or start a new one!</p>
      <hr class="my-4">
      <div class="row">
        <div class="col-xl-5">
          <!--Create new db button-->
          <a (click)="createBudget($event)" class="btn btn-primary btn-lg btn-block my-2" role="button">New Budget</a>
          <!--Open db from fs button-->
          <a (click)="openBudget($event)" class="btn btn-secondary btn-lg btn-block my-2" role="button">Open<span class="hide-small"> from Computer</span></a>
        </div>
        <div class="col-xl-7">
          <!--List of known recent databases-->
          <div *ngFor="let recentDb of recentDatabases" class="btn btn-block btn-outline-primary my-2">
            <div class="db-card">{{recentDb.Name}}</div>
            <ins class="text-right">{{recentDb.LastAccess}}</ins>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>