<div class="row">
  <div class="col-6 mx-auto">
    <div class="jumbotron my-2">
      <h1>Open Database</h1>
      <p class="lead">Open an existing database here or start a new one!</p>
      <hr class="my-4">
      <div class="row">
        <div class="col-xl-5">
          <!--Create new db button-->
          <a class="btn btn-primary btn-lg btn-block my-2" href="#" role="button">New Budget</a>
          <!--Open db from fs button-->
          <a class="btn btn-secondary btn-lg btn-block my-2" href="#" role="button">Open from Computer</a>
        </div>
        <div class="col-xl-7">
          <!--List of known recent databases-->
          <ul class="list-group my-2">
            <li class="list-group-item">Database Name #1</li>
            <li class="list-group-item">Database Name #2</li>
            <li class="list-group-item">Database Name #3</li>
            <li class="list-group-item">Database Name #4</li>
            <li class="list-group-item">Database Name #5</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>