@import 'variables';

body {
    color: $primary-color;
    font-family: $font-stack;
    -webkit-user-drag: none;
}

ins {
    font-size: .75rem;
    color: $light-text;
    text-decoration: none;
}

ul {
  list-style: none;  
}